@media screen and (max-width: 991px) {
    html {
        font-size: 60%;
    }

    .desktop-max-width {
        max-width: 100vw;
        padding-right: 2.4rem;
        padding-left: 2.4rem;
    }
}

@media screen and (max-width: 768px) {
    .nav-links-desktop {
        display: none;
    }
    
    .navbar {
        position: relative;
    }

    .nav-links-mobile {
        display: flex;
        position: absolute;

        flex-direction: column;
        gap: .2rem;

        background: red;

        bottom: 0;
    }

    
}